@model List<Model.Models.Modeldata>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
@* <link href="/static/morris.css" rel="stylesheet" />
<link href="/static/c3.min.css" rel="stylesheet" />
<link href="/static/dashboard1.css" rel="stylesheet" />
<link href="/static/style.css" rel="stylesheet" /> *@
@await Html.PartialAsync("~/Areas/admin/Views/layout/logo.cshtml")


<link href="~/css/morris.css" rel="stylesheet" />
<link href="~/css/c3.min.css" rel="stylesheet" />
<link href="~/css/dashboard1.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<div class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        @await Html.PartialAsync("~/Areas/admin/Views/layout/navbar.cshtml")
        @await Html.PartialAsync("~/Areas/admin/Views/layout/header.cshtml")
        <br />
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="card">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="text-bg-success p-2">Khách hàng</div>
                                    <hr />
                                    <p>Họ tên khách hàng: @Model[0].khachhang.hovaten</p>
                                    <p>Phòng: @Model[0].phong.sophong</p>
                                    <p>Loại phòng: @Model[0].phong.loaiphong</p>
                                    <p>Số người: @Model[0].phong.songuoi</p>
                                    <hr />
                                </div>
                                <div class="col-6">
                                    <div class="text-bg-success p-2">Sản phẩm được thuê</div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Số lượng thuê</th>
                                                <th>Thành tiền</th>
                                                <th>Tên Sản phẩm</th>
                                                <th>Ảnh</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model[0].listthueSanPham != null && Model[0].listthueSanPham.Count > 0)
                                            {
                                                @foreach (var item in Model[0].listthueSanPham)
                                                {
                                                    <tr>
                                                        <td>@item.soluong</td>
                                                        <td>@string.Format("{0:N0} VNĐ", item.thanhtien)</td>
                                                        <td>@item.tensanpham</td>
                                                        <td><img src="@item.image" width="50px" height="50px" alt=""></td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="4">Không có sản phẩm thuê.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }
</style>
<style>
    .payment-button {
        background-color: #007BFF;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>


<script>
    function formatCurrency(input) {
        var value = input.value.replace(/[^\d]/g, '');
        input.value = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(value);
    }
    function calculateChange() {
        var tienkhachdua = parseFloat(document.getElementById('tienkhachdua').value.replace(/[^\d]/g, '')) || 0;
        var tongtien = parseFloat(document.getElementById('tongtien').value.replace(/[^\d]/g, '')) || 0;
        var thanhtien = tienkhachdua - tongtien;
        document.getElementById('tienthua').value = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(thanhtien);
    }



</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const paymentRadios = document.querySelectorAll('input[name="hinhthucthanhtoan"]');
        const thanhtoanElement = document.getElementById('thanhtoan');

        paymentRadios.forEach(function (radio) {
            radio.addEventListener('change', function () {
                thanhtoanElement.disabled = !radio.checked;
            });
        });
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="/static/custom.min.js"></script>
<script src="/static/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>