@model List<Model.Models.Modeldata>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
@* <link href="/static/morris.css" rel="stylesheet" />
<link href="/static/c3.min.css" rel="stylesheet" />
<link href="/static/dashboard1.css" rel="stylesheet" />
<link href="/static/style.css" rel="stylesheet" /> *@
@await Html.PartialAsync("~/Areas/admin/Views/layout/logo.cshtml")

<link href="~/css/morris.css" rel="stylesheet" />
<link href="~/css/c3.min.css" rel="stylesheet" />
<link href="~/css/dashboard1.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<div class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        @await Html.PartialAsync("~/Areas/admin/Views/layout/navbar.cshtml")
        @await Html.PartialAsync("~/Areas/admin/Views/layout/header.cshtml")
        <br />
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="card">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="text-bg-success p-2">Khách hàng</div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tên khách hàng</th>
                                                <th>Ngày đặt</th>
                                                <th>Ngày dự kiến trả</th>
                                                <th>Loại hình thuê</th>
                                                <th>Đổi loại hình thuê</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.datPhong.hovaten</td>
                                                    <td>@item.datPhong.ngaydat.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.datPhong.ngaydukientra.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.datPhong.hinhthucthue</td>
                                                    @*  <td>
                                                <select id="hinhthucthue" name="hinhthucthue" class="form-control">
                                                <option value="Theo ngày">Theo ngày</option>
                                                <option value="Theo giờ">Theo giờ</option>
                                                </select>
                                                </td> *@
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <hr />
                                    <div class="text-bg-success p-2">Sản phẩm được thuê</div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Số lượng thuê</th>
                                                <th>Thành tiền</th>
                                                <th>Tên Sản phẩm</th>
                                                <th>Ảnh</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var thueSanPham in Model[0].listthueSanPham)
                                            {
                                                <tr>
                                                    <td>@thueSanPham.soluong</td>
                                                    <td>@string.Format("{0:N0} VNĐ", @thueSanPham.thanhtien)</td>
                                                    <td>@thueSanPham.tensanpham</td>
                                                    <td><img src="@thueSanPham.image" width="50px" height="50px" alt=""></td>
                                                    <td>
                                                        <a href="/admin/ThueSanPham/XoasoluongThueSanPham?id=@thueSanPham.id&amp;idphong=@Model[0].datPhong.idphong" class="btn btn-danger">
                                                            <i class="fas fa-minus"></i>
                                                        </a>
                                                        <a href="/admin/ThueSanPham/UpdatesoluongThueSanPham?id=@thueSanPham.id&amp;idphong=@Model[0].datPhong.idphong"
                                                           class="btn btn-warning">
                                                            <i style="color: white;" class="fas fa-plus"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <hr />
                                    <div class="border border-dark-subtle" style="padding:10px 20px">
                                        <form method="post" Action="/admin/TraPhong/TraPhongandLSThanhToan">
                                            <input type="hidden" name="idphong" id="idphong" value="@Model[0].phong.id" class="form-control" />
                                            <div class="row">
                                                <div class="col-6">
                                                    <h4>Tổng tiền thuê sản phẩm: @string.Format("{0:N0} VNĐ", @Model[0].tongtienhueSanPham)</h4>
                                                    @if (Model != null && Model.Count > 0 && Model[0].datPhong.hinhthucthue == "Theo giờ")
                                                    {

                                                        if (Model[0].giamGiaNgayle != null)
                                                        {
                                                            <h4>Giá phòng theo giờ: @string.Format("{0:N0} VNĐ", (Model[0].phong.giatientheogio * (100 + Model[0].giamGiaNgayle.dieuchinhgiaphong)) / 100)</h4>
                                                            @*                                                     <h4>Gía phòng theo giờ: @string.Format("{0:N0} VNĐ", (@Model[0].phong.giatientheogio * Model[0].chinhSachGia.dieuchinhgiaphong)/100)</h4>
                                                    *@                                                }
                                                        else
                                                        {
                                                            <h4>Gía phòng theo giờ: @string.Format("{0:N0} VNĐ", @Model[0].phong.giatientheogio)</h4>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (Model[0].giamGiaNgayle != null)
                                                        {
                                                            <h4>Giá phòng theo giờ: @string.Format("{0:N0} VNĐ", (Model[0].phong.giatientheongay * (100 + Model[0].giamGiaNgayle.dieuchinhgiaphong)) / 100)</h4>
                                                            @*                                                     <h4>Gía phòng theo ngày: @string.Format("{0:N0} VNĐ", (@Model[0].phong.giatientheongay * Model[0].chinhSachGia.dieuchinhgiaphong)/100)</h4>
                                                    *@                                                }
                                                        else
                                                        {
                                                            <h4>Gía phòng theo ngày: @string.Format("{0:N0} VNĐ", @Model[0].phong.giatientheongay)</h4>
                                                        }
                                                    }
                                                    <h4>Tiền khách hàng đặt cọc: @string.Format("{0:N0} VNĐ", @Model[0].datPhong.tiendatcoc)</h4>
                                                    @if (Model != null && Model.Count > 0 && Model[0].magiamGia != null)
                                                    {
                                                        <h4>Giảm giá: @Model[0].magiamGia.phantramgiamgia %</h4>
                                                        float sotienthanhtoan = 0;
                                                        @if (Model[0].datPhong.hinhthucthue == "Theo giờ")
                                                        {
                                                            if (Model[0].giamGiaNgayle != null)
                                                            {
                                                                // Đang thuê theo giờ
                                                                sotienthanhtoan = ((((Model[0].phong.giatientheogio * (100 + Model[0].giamGiaNgayle.dieuchinhgiaphong)) / 100) * (Model[0].datPhong.ngaydukientra.Hour - Model[0].datPhong.ngaydat.Hour)) + Model[0].tongtienhueSanPham - Model[0].datPhong.tiendatcoc) * (100 - Model[0].magiamGia.phantramgiamgia) / 100;
                                                                @*                                                         sotienthanhtoan = ((((Model[0].phong.giatientheogio * Model[0].chinhSachGia.dieuchinhgiaphong) / 100) * (Model[0].datPhong.ngaydukientra.Hour - Model[0].datPhong.ngaydat.Hour)) + Model[0].tongtienhueSanPham - Model[0].datPhong.tiendatcoc) * Model[0].magiamGia.phantramgiamgia / 100;
                                                    *@                                                        <h4>Tổng tiền cần thanh toán: @string.Format("{0:N0} VNĐ", sotienthanhtoan)</h4>
                                                            }
                                                            else
                                                            {
                                                                sotienthanhtoan = ((Model[0].phong.giatientheogio * (Model[0].datPhong.ngaydukientra.Hour - Model[0].datPhong.ngaydat.Hour)) + Model[0].tongtienhueSanPham - Model[0].datPhong.tiendatcoc) * Model[0].magiamGia.phantramgiamgia / 100;
                                                                <h4>Tổng tiền cần thanh toán: @string.Format("{0:N0} VNĐ", sotienthanhtoan)</h4>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (Model[0].giamGiaNgayle != null)
                                                            {
                                                                // Đang thuê theo ngày
                                                                sotienthanhtoan = ((((Model[0].phong.giatientheongay * (100 + Model[0].giamGiaNgayle.dieuchinhgiaphong)) / 100) * (Model[0].datPhong.ngaydukientra.Hour - Model[0].datPhong.ngaydat.Hour)) + Model[0].tongtienhueSanPham - Model[0].datPhong.tiendatcoc) * (100 - Model[0].magiamGia.phantramgiamgia) / 100;
                                                                @*                                                         sotienthanhtoan = ((((Model[0].phong.giatientheongay * Model[0].chinhSachGia.dieuchinhgiaphong) / 100) * (Model[0].datPhong.ngaydukientra.Day - Model[0].datPhong.ngaydat.Day)) + Model[0].tongtienhueSanPham - Model[0].datPhong.tiendatcoc) * Model[0].magiamGia.phantramgiamgia / 100;
                                                    *@                                                        <h4>Tổng tiền cần thanh toán: @string.Format("{0:N0} VNĐ", sotienthanhtoan)</h4>
                                                            }
                                                            else
                                                            {
                                                                // Đang thuê theo ngày
                                                                sotienthanhtoan = ((Model[0].phong.giatientheongay * (Model[0].datPhong.ngaydukientra.Day - Model[0].datPhong.ngaydat.Day)) + Model[0].tongtienhueSanPham - Model[0].datPhong.tiendatcoc) * Model[0].magiamGia.phantramgiamgia / 100;
                                                                <h4>Tổng tiền cần thanh toán: @string.Format("{0:N0} VNĐ", sotienthanhtoan)</h4>
                                                            }
                                                        }
                                                        <input type="hidden" name="" value="@sotienthanhtoan" id="tongtien" oninput="formatCurrency(this); calculateChange()">
                                                    }
                                                    else
                                                    {
                                                        <h4>Giảm giá: 0 %</h4>
                                                        float sotienthanhtoan = 0;
                                                        if (Model != null && Model.Count > 0 && Model[0].datPhong.hinhthucthue == "Theo giờ")
                                                        {
                                                            if (Model[0].giamGiaNgayle != null)
                                                            {
                                                                // Đang thuê theo giờ
                                                                sotienthanhtoan = ((Model[0].phong.giatientheogio * (100 + Model[0].giamGiaNgayle.dieuchinhgiaphong)) / 100 * (Model[0].datPhong.ngaydukientra.Hour - Model[0].datPhong.ngaydat.Hour)) + Model[0].tongtienhueSanPham - Model[0].datPhong.tiendatcoc;
                                                                @*                                                         sotienthanhtoan = (((Model[0].phong.giatientheogio * Model[0].chinhSachGia.dieuchinhgiaphong)) / 100 * (Model[0].datPhong.ngaydukientra.Hour - Model[0].datPhong.ngaydat.Hour)) + Model[0].tongtienhueSanPham - Model[0].datPhong.tiendatcoc;
                                                    *@                                                        <h4>Tổng tiền cần thanh toán: @string.Format("{0:N0} VNĐ", sotienthanhtoan)</h4>
                                                            }
                                                            else
                                                            {
                                                                sotienthanhtoan = (Model[0].phong.giatientheogio * (Model[0].datPhong.ngaydukientra.Hour - Model[0].datPhong.ngaydat.Hour)) + Model[0].tongtienhueSanPham - Model[0].datPhong.tiendatcoc;
                                                                <h4>Tổng tiền cần thanh toán: @string.Format("{0:N0} VNĐ", sotienthanhtoan)</h4>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            if (Model[0].giamGiaNgayle != null)
                                                            {
                                                                // Đang thuê theo ngày
                                                                sotienthanhtoan = ((Model[0].phong.giatientheongay * (100 + Model[0].giamGiaNgayle.dieuchinhgiaphong)) / 100 * (Model[0].datPhong.ngaydukientra.Hour - Model[0].datPhong.ngaydat.Hour)) + Model[0].tongtienhueSanPham - Model[0].datPhong.tiendatcoc;
                                                                @*                                                         sotienthanhtoan = (((Model[0].phong.giatientheongay * Model[0].chinhSachGia.dieuchinhgiaphong) / 100) * (Model[0].datPhong.ngaydukientra.Day - Model[0].datPhong.ngaydat.Day)) + Model[0].tongtienhueSanPham - Model[0].datPhong.tiendatcoc;
                                                    *@                                                        <h4>Tổng tiền cần thanh toán: @string.Format("{0:N0} VNĐ", sotienthanhtoan)</h4>
                                                            }
                                                            else
                                                            {
                                                                // Đang thuê theo ngày
                                                                sotienthanhtoan = (Model[0].phong.giatientheongay * (Model[0].datPhong.ngaydukientra.Day - Model[0].datPhong.ngaydat.Day)) + Model[0].tongtienhueSanPham - Model[0].datPhong.tiendatcoc;
                                                                <h4>Tổng tiền cần thanh toán: @string.Format("{0:N0} VNĐ", sotienthanhtoan)</h4>
                                                            }
                                                        }
                                                        <input type="hidden" name="" value="@sotienthanhtoan" id="tongtien" oninput="formatCurrency(this); calculateChange()">
                                                    }
                                                    <label class="form-label" for="chuyenKhoan"><h4>Chuyển Khoản</h4></label>
                                                    <input type="radio" id="chuyenKhoan" name="hinhthucthanhtoan" value="chuyển khoản">
                                                    <label class="form-label" for="tienMat"><h4>Tiền Mặt</h4></label>
                                                    <input type="radio" id="tienMat" name="hinhthucthanhtoan" value="tiền mặt">
                                                </div>
                                                <div class="col-6">
                                                    <label for="tienkhachdua">Tiền khách đưa</label>
                                                    <input class="input" type="text" name="" id="tienkhachdua" oninput="formatCurrency(this); calculateChange()">
                                                    <label for="tienthua">Tiền thừa</label>
                                                    <input class="input" type="text" name="" id="tienthua" readonly>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                @*                                                 <input type="submit" id="thanhtoan" value="Thanh toán" class="payment-button" />
                                                *@
                                                <button type="submit" class="btn btn-primary btn-lg" id="thanhtoan" disabled>
                                                    <i class="fas fa-credit-card"></i> Thanh toán
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="text-bg-success p-2">Sản phẩm</div>
                                    <br />
                                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Tên sản phẩm</th>
                                                <th>Số lượng còn</th>
                                                <th>Gía bán</th>
                                                <th>Ảnh</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var sanpham in Model[0].PagedTSanPham)
                                            {
                                                <tr>
                                                    <td>@sanpham.tensanpham</td>
                                                    <td>@sanpham.soluongcon</td>
                                                    <td>@string.Format("{0:N0} VNĐ", @sanpham.giaban)</td>
                                                    <td><img src="@sanpham.image" width="50px" height="50px" alt=""></td>
                                                    <td>
                                                        <a href="/admin/ThueSanPham/ThueSanPham?idsp=@sanpham.id&amp;iddatphong=@Model[0].datPhong.id&amp;idphong=@Model[0].datPhong.idphong" class="btn btn-success" title="Thuê sản phẩm">
                                                            <i class="fas fa-plus"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .input {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }
</style>
<style>
    .payment-button {
        background-color: #007BFF;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>


<script>
    function formatCurrency(input) {
        var value = input.value.replace(/[^\d]/g, '');
        input.value = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(value);
    }
    function calculateChange() {
        var tienkhachdua = parseFloat(document.getElementById('tienkhachdua').value.replace(/[^\d]/g, '')) || 0;
        var tongtien = parseFloat(document.getElementById('tongtien').value.replace(/[^\d]/g, '')) || 0;
        var thanhtien = tienkhachdua - tongtien;
        document.getElementById('tienthua').value = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(thanhtien);
    }



</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const paymentRadios = document.querySelectorAll('input[name="hinhthucthanhtoan"]');
        const thanhtoanElement = document.getElementById('thanhtoan');

        paymentRadios.forEach(function (radio) {
            radio.addEventListener('change', function () {
                thanhtoanElement.disabled = !radio.checked;
            });
        });
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="/static/custom.min.js"></script>
<script src="/static/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": false,
            "autoWidth": false,
            "responsive": true,
            "pageLength": 10,
            "lengthMenu": [5, 10, 25, 50, 100],
            "language": {
                "paginate": {
                    "next": '<i class="fas fa-chevron-right"></i>',
                    "previous": '<i class="fas fa-chevron-left"></i>'
                },
                "search": "Tìm kiếm:",
            }
        });
    });
</script>