@model List<Model.Models.Modeldata>
@using Auth0.ManagementApi.Paging;
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link href="~/content/static/morris.css" rel="stylesheet" />
<link href="~/content/static/c3.min.css" rel="stylesheet" />
<link href="~/content/static/style.css" rel="stylesheet" />
<link href="~/content/static/dashboard1.css" rel="stylesheet" />
@await Html.PartialAsync("~/Areas/admin/Views/layout/logo.cshtml")
<link href="~/content/static/home.css" rel="stylesheet" />
<div class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        @await Html.PartialAsync("~/Areas/admin/Views/layout/navbar.cshtml")
        @await Html.PartialAsync("~/Areas/admin/Views/layout/header.cshtml")
        <br />
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <br />
                            <ul class="nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link btn btn-success me-2" href="#">
                                        <i class="fas fa-file-excel"></i> Xuất excel
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-success me-2" href="/admin/thuephong/danhsachthuephongtructiep">
                                        <i class="fas fa-handshake"></i> Đặt trực tiếp
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-success me-2" href="/admin/thuephong/danhsachthuephongonline">
                                        <i class="fas fa-laptop"></i> Đặt online
                                    </a>
                                </li>
                            </ul>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Khách hàng</th>
                                                <th>Ngày đặt</th>
                                                <th>Ngày dự kiến trả</th>
                                                <th>Tiền đặt cọc</th>
                                                <th>Loại đặt phòng</th>
                                                <th>Trạng thái</th>
                                                <th>Hình thức thuê</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.Count > 0)
                                            {
                                                int count = 1;
                                                foreach (var modeldata in Model)
                                                {
                                                    var datPhong = modeldata.PagedTDatPhong.First();
                                                    <tr id="row-@count">
                                                        <td>@count</td>
                                                        <td>@modeldata.khachhang.hovaten</td>
                                                        <td>@datPhong.ngaydat.ToString("dd/MM/yyyy HH:mm")</td>
                                                        <td>@datPhong.ngaydukientra.ToString("dd/MM/yyyy HH:mm")</td>
                                                        <td>@string.Format("{0:N0} VNĐ", datPhong.tiendatcoc)</td>
                                                        <td>@datPhong.loaidatphong</td>
                                                        <td>@datPhong.trangthai</td>
                                                        <td>@datPhong.hinhthucthue</td>
                                                        <td>
                                                            <a href="/thuephong/chitietthuephongs/?iddatphong=@datPhong.id" class="btn btn-warning" title="Chi tiết ">
                                                                <i class="fas fa-info-circle"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="5">Không có tầng nhân viên nào cả!.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": false,
            "autoWidth": false,
            "responsive": true,
            "pageLength": 15,
            "lengthMenu": [5, 10, 25, 50, 100],
            "language": {
                "paginate": {
                    "next": '<i class="fas fa-chevron-right"></i>',
                    "previous": '<i class="fas fa-chevron-left"></i>'
                },
                "search": "Tìm kiếm:",
            }
        });
    });
</script>
@if (TempData["themthanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Thêm nhân viên thành công!',
            icon: "success",
            showConfirmButton: false,
        });
    </script>
}

@if (TempData["xoathanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Xoá tầng thành công!',
            icon: "success",
            showConfirmButton: false,
        });
    </script>
}