@model List<Model.Models.Modeldata>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link href="~/css/home.css" rel="stylesheet" />
<link href="~/css/morris.css" rel="stylesheet" />
<link href="~/css/c3.min.css" rel="stylesheet" />
@await Html.PartialAsync("~/Areas/admin/Views/layout/logo.cshtml")
<link href="~/css/dashboard1.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<div class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        @await Html.PartialAsync("~/Areas/admin/Views/layout/navbar.cshtml")
        @await Html.PartialAsync("~/Areas/admin/Views/layout/header.cshtml")
        <br />
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <br />
                            <ul class="nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link btn btn-success me-2" href="/NhanVien/XuatEclcel">
                                        <i class="fas fa-file-excel"></i>
                                        Xuất excel
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-primary me-2" href="/chinhsachgia/addchinhsach">
                                        <i class="fas fa-plus"></i>
                                        Thêm chính sách giá
                                    </a>
                                </li>
                            </ul>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Ngày lễ</th>
                                                <th>Tên ngày lễ</th>
                                                <th>Ngày bắt đầu</th>
                                                <th>Ngày kết thúc</th>
                                                <th>Phầm trăm được tăng</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.Count > 0)
                                            {
                                                int count = 1;
                                                foreach (var modeldata in Model)
                                                {
                                                    <tr id="row-@count">
                                                        <td>@count</td>
                                                        <td>@modeldata.giamGiaNgayle.ngayle.ToString("dd/MM/yyyy HH:mm")</td>
                                                        <td>@modeldata.giamGiaNgayle.tenngayle</td>
                                                        <td>@modeldata.giamGiaNgayle.ngaybatdau.ToString("dd/MM/yyyy HH:mm")</td>
                                                        <td>@modeldata.giamGiaNgayle.ngayketthuc.ToString("dd/MM/yyyy HH:mm")</td>
                                                        <td>@modeldata.giamGiaNgayle.dieuchinhgiaphong %</td>
                                                        <td>
                                                            <a href="/Tang//@modeldata.giamGiaNgayle.id" class="btn btn-danger" title="Xoá">
                                                                <i class="fas fa-times-circle"></i>
                                                            </a>
                                                            <a href="/KyLuat//@modeldata.giamGiaNgayle.id" class="btn btn-warning" title="Cập nhât">
                                                                <i class="fas fa-check-circle"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="7">Danh sách chính sách giá trống trống!.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 *@<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="/static/custom.min.js"></script>
<script src="/static/jquery-3.2.1.min.js"></script>
@if (TempData["themthanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Thêm thành công!',
            icon: "success",
            showConfirmButton: false,
        });
    </script>
}

@if (TempData["xoathanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Xoá tầng thành công!',
            icon: "success",
            showConfirmButton: false,
        });
    </script>
}