@model List<Model.Models.Modeldata>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<link href="/static/morris.css" rel="stylesheet" />
<link href="/static/c3.min.css" rel="stylesheet" />
<link href="/static/style.css" rel="stylesheet" />
<link href="/static/dashboard1.css" rel="stylesheet" />
<link href="/static/style.css" rel="stylesheet" />
<link href="/static/home.css" rel="stylesheet" />
<div class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        @Html.Partial("~/Views/layout/navbar.cshtml")
        @Html.Partial("~/Views/layout/header.cshtml")
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="text-center" style="padding: 0px 23px;">
                    <div class="square" style="background-color: #a8c4cf">
                        <a>Sẵn sàng đón khách</a>
                    </div>
                    <div class="square" style="background-color: #35c3d7">
                        <a>Phòng được đặt</a>
                    </div>
                    <div class="square" style="background-color: #0171a3">
                        <a>Phòng đã có người ở</a>
                    </div>
                    <div class="square" style="background-color: #285665">
                        <a>Phòng đang sửa chữa</a>
                    </div>
                    <div class="square" style="background-color: #666666">
                        <a>Phòng đang dọn dẹp</a>
                    </div>
                </div>
                <form style="padding: 20px 34px; text-align: right;" action="/Phong/Index" method="GET">
                    <input type="text"
                           placeholder="Nhập số phòng..." id="loaiphong" name="loaiphong">
                    <input type="submit" value="Tìm kiếm">
                </form>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var tang in Model)
                    {
                        <p class="tang">
                            <a data-bs-toggle="modal" style="text-decoration:none; color:white;" data-bs-target="#exampleModaltang@(tang.tang.id)" href="@tang.tang.id">@tang.tang.tentang</a>
                        </p>
                        <div class="room-container">
                            @foreach (var phong in tang.listphong)
                            {
                                <div id="table-@(phong.id)" class="room-box @GetTinhTrangPhong(phong.tinhtrangphong)">
                                    <p>Phòng: @phong.sophong</p>
                                    <p>@phong.loaiphong</p>
                                    @if (phong.tinhtrangphong == "có khách")
                                    {
                                        <i class="fas fa-bed" style="color: white;"></i>
                                    }
                                    else if (phong.tinhtrangphong == "còn trống")
                                    {
                                        <i class="fas fa-door-open" style="color: white;"></i>
                                    }
                                    else if (phong.tinhtrangphong == "đã đặt")
                                    {
                                        <i class="fas fa-calendar-check" style="color: white;"></i>
                                    }
                                    else if (phong.tinhtrangphong == "đang sửa chữa")
                                    {
                                        <i class="fas fa-wrench" style="color: white;"></i>
                                    }
                                    else if (phong.tinhtrangphong == "chưa dọn")
                                    {
                                        <i class="fas fa-exclamation-circle" style="color: white;"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-question-circle"></i>
                                    }
                                    <div class="context-menu">
                                        @if (phong.tinhtrangphong == "có khách")
                                        {
                                            <a href="/ThuePhong/ChiTietThuePhong/?id=@phong.id">
                                                <i class="fas fa-info-circle" style="color: red; font-size: 20px; margin-right: 5px;"></i>
                                                Thông tin thuê phòng
                                            </a>
                                            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal@(phong.id)">
                                                <i class="fas fa-exchange-alt" style="color: blue; font-size: 20px; margin-right: 5px;"></i>
                                                Chuyển phòng
                                            </a>
                                        }
                                        else if (phong.tinhtrangphong == "còn trống")
                                        {
                                            <a href="/ThuePhong/Index/@phong.id">
                                                <i style="font-size: 20px; margin-right: 10px; color: #00FF00;" class="fas fa-bed"></i>
                                                Thuê bình thường
                                            </a>
                                            <a href="/ThuePhong/Index1">
                                                <i style="font-size: 20px; margin-right: 10px; color: #00FF00;" class="fas fa-users"></i>
                                                Thuê theo đoàn
                                            </a>
                                            <a href="/Phong/CapNhatTrangThaiPhong/?idphong=@phong.id">
                                                <i style="font-size: 20px; margin-right: 14px;color: #8B4513;" class="fas fa-wrench"></i>
                                                Sửa phòng
                                            </a>
                                        }
                                        else if (phong.tinhtrangphong == "đã đặt")
                                        {
                                            <a href="/NhanPhong/NhanPhongOnline/?id=@phong.id">
                                                <i style="font-size: 20px; margin-right: 14px" class="fas fa-check-circle"></i>
                                                Check nhận phòng
                                            </a>
                                            <a href="/HuyDatPhong/HuyDatPhong/?idphong=@phong.id">
                                                <i class="fas fa-info-circle" style="color: red; font-size: 20px; margin-right: 5px;"></i>
                                                Huỷ đặt phòng
                                            </a>
                                        }
                                        else if (phong.tinhtrangphong == "đang sửa chữa")
                                        {
                                            <a href="/Phong/CapNhatTrangThaiPhong/?idphong=@phong.id">
                                                <i style="font-size: 20px; margin-right: 2px; color: blue;" class="fas fa-check"></i>
                                                Hoàn tất sửa chữa
                                            </a>
                                        }
                                        else if (phong.tinhtrangphong == "chưa dọn")
                                        {
                                            <a href="/Phong/CapNhatTrangThaiPhong/?idphong=@phong.id">
                                                <i style="font-size: 20px; margin-right: 10px; color: blue;" class="fas fa-check"></i>
                                                Dọn xong
                                            </a>
                                            <a href="/Phong/CapNhatTrangThaiPhong/?idphong=@phong.id">
                                                <i style="font-size: 20px; margin-right: 10px" class="fas fa-wrench"></i>
                                                Sửa phòng
                                            </a>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@foreach (var phong in Model[0].listphong)
{
    <div class="modal fade" id="exampleModal@(phong.id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
         data-bs-backdrop="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body text-left">
                    <div class="text-bg-success p-2">Chuyển phòng</div>
                    <div class="border border-secondary-subtle" style="padding:10px 20px">
                        <form method="post" action="/ChuyenPhong/ChuyenPhong">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="idphongcu" class="form-label">Phòng cũ:</label>
                                        <input type="text" class="form-control" value="@phong.id" id="idphongcu" name="idphongcu" readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="idphongmoi" class="form-label">Phòng mới:</label>
                                        <select id="idphongmoi" name="idphongmoi" class="form-control">
                                            <option value="">Chọn phòng mới</option>
                                            @foreach (var phongs in Model[0].listphongtrangthai)
                                            {
                                                <option value="@phongs.id">@phongs.sophong</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="lydo" class="form-label">Lý do:</label>
                                    <input type="text" class="form-control" id="lydo" name="lydo">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary custom-btn-secondary" data-dismiss="modal">
                                    Huỷ
                                </button>
                                <input type="submit" value="Chuyển phòng" class="btn btn-primary custom-button" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@foreach (var tang in Model)
{
    <div class="modal fade" id="exampleModaltang@(tang.tang.id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
         data-bs-backdrop="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body text-left">
                    <div class="text-bg-success p-2">Thêm phòng</div>
                    <div class="border border-secondary-subtle" style="padding:10px 20px">
                        <form method="post" action="/Phong/ThemPhong">
                            <div class="row">
                                <input type="hidden" class="form-control" value="@ViewData["idkhachsan"]" id="idkhachsan" name="idkhachsan" readonly>
                                <input type="hidden" class="form-control" value="@tang.tang.id" id="idtang" name="idtang" readonly>
                                <div class="mb-3">
                                    <label for="songuoi" class="form-label">Số người :</label>
                                    <input type="text" class="form-control" id="songuoi" name="songuoi">
                                </div>
                                <div class="mb-3">
                                    <label for="sophong" class="form-label">Số phòng :</label>
                                    <input type="number" class="form-control" id="sophong" name="sophong">
                                </div>
                                <div class="mb-3">
                                    <label for="loaiphong" class="form-label">Loại phòng :</label>
                                    <input type="text" class="form-control" id="loaiphong" name="loaiphong">
                                </div>
                                <div class="mb-3">
                                    <label for="giatientheogio" class="form-label">Gía tiền theo giờ :</label>
                                    <input type="text" class="form-control" id="giatientheogio" name="giatientheogio">
                                </div>
                                <div class="mb-3">
                                    <label for="giatientheongay" class="form-label">Gía tiền theo ngày:</label>
                                    <input type="text" class="form-control" id="giatientheongay" name="giatientheongay">
                                </div>
                                <div class="mb-3">
                                    <label for="soluongmuonthem" class="form-label">Số lượng phòng muốn thêm:</label>
                                    <input type="text" class="form-control" id="soluongmuonthem" value="1" name="soluongmuonthem">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Thêm phòng" class="btn btn-primary custom-button" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<style>
    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

</style>
@functions {
    public string GetTinhTrangPhong(string trangthai)
    {
        switch (trangthai)
        {
            case "có khách":
                return "cokhach";
            case "còn trống":
                return "controng";
            case "đang sửa chữa":
                return "dangsua";
            case "đã đặt":
                return "dadat";
            case "chưa dọn":
                return "chuadon";
            default:
                return "other";
        }
    }
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="/static/custom.min.js"></script>
<script src="/static/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

                        @if (TempData["thuephongthanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Thuê Phòng thành công!',
            icon: 'success',
            showConfirmButton: false,
        });
    </script>
}

@if (TempData["traphongthanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Trả Phòng thành công!',
            icon: 'success',
            showConfirmButton: false,
        });
    </script>
}
@if (TempData["chuyenphongthanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Chuyển Phòng thành công!',
            icon: 'success',
            showConfirmButton: false,
        });
    </script>
}
@if (TempData["thoigianthanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Tạo thời gian thành công!',
            icon: 'success',
            showConfirmButton: false,
        });
    </script>
}