@model Model.Models.Modeldata
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><strong>User ID:</strong> @Model.userProfileViewModel.UserId</p>
    <p><strong>Name:</strong> @Model.userProfileViewModel.Name</p>
    <p><strong>Email:</strong> @Model.userProfileViewModel.Email</p>
    <p><strong>Profile Link:</strong> <a href="@Model.userProfileViewModel.ProfileLink">@Model.userProfileViewModel.ProfileLink</a></p>
    <a href="/Login/Login/Logout">Logout</a>

</div>