@model Model.Models.Modeldata
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link href="~/css/home.css" rel="stylesheet" />
<link href="~/css/morris.css" rel="stylesheet" />
<link href="~/css/c3.min.css" rel="stylesheet" />
@Html.Partial("~/Views/layout/logo.cshtml")
<link href="~/css/dashboard1.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<div class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        @Html.Partial("~/Views/layout/navbar.cshtml")
        @Html.Partial("~/Views/layout/header.cshtml")
        <br />
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="d-flex justify-content-between">
                    <a href="" class="btn btn-primary mb-4 ml-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fas fa-plus"></i>
                        Thêm vị trí
                    </a>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Tên vị trí</th>
                                                <th>Mô tả</th>
                                                <th>Lương/Ngày</th>
                                                <th>ID bộ phận</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.listviTriBoPhan != null && Model.listviTriBoPhan.Count > 0)
                                            {
                                                int count = 1;
                                                foreach (var vitribophan in Model.listviTriBoPhan)
                                                {
                                                    <tr id="row-@count">
                                                        <td>@count</td>
                                                        <td>@vitribophan.tenvitri</td>
                                                        <td>@vitribophan.mota</td>
                                                        <td>@string.Format("{0:N0} VNĐ" , @vitribophan.luong)</td>
                                                        <td>@vitribophan.idbophan</td>
                                                        <td>
                                                            <a href="/Tang/XoaTang/@vitribophan.id" class="btn btn-danger" title="Xoá">
                                                                <i class="fas fa-times-circle"></i>
                                                            </a>
                                                            <a href="/KyLuat/HuyKyLuat/@vitribophan.id" class="btn btn-warning" title="Cập nhât">
                                                                <i class="fas fa-check-circle"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="5">Không có tầng nào cả!.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-backdrop="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body text-left">
                <div class="text-bg-success p-2">Nhập thông tin vị trí bộ phận</div>
                <div class="border border-secondary-subtle" style="padding:10px 20px">
                    <form method="post" Action="/ViTriBoPhan/ThemViTriBoPhan">
                        <div class="mb-3">
                            <label for="idbophan" class="form-label">Tên bộ phận:</label>
                            <select id="idbophan" name="idbophan" class="form-control">
                                @if (Model.listbophan != null && Model.listbophan.Count > 0)
                                {
                                    foreach (var bophan in Model.listbophan)
                                    {
                                        <option value="@bophan.id">@bophan.tenbophan</option>
                                    }
                                }
                                else
                                {
                                    <option value="" selected>No data available</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="tenvitri" class="form-label">Tên vị trí:</label>
                            <input type="text" name="tenvitri" id="tenvitri" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="mota" class="form-label">Mô tả:</label>
                            <input type="text" name="mota" id="mota" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="luong" class="form-label">Lương:</label>
                            <input type="number" name="luong" id="luong" class="form-control" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary custom-btn-secondary" data-dismiss="modal">
                                Huỷ
                            </button>
                            <input type="submit" value="Thêm vị trí" class="btn btn-primary custom-button" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 *@<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="/static/custom.min.js"></script>
<script src="/static/jquery-3.2.1.min.js"></script>
@if (TempData["themthanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Thêm vị trí bộ phận thành công!',
            icon: "success",
            showConfirmButton: false,
        });
    </script>
}

@if (TempData["xoathanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Xoá tầng thành công!',
            icon: "success",
            showConfirmButton: false,
        });
    </script>
}