@model Tuple<List<Model.Models.Modeldata>, List<Model.Models.KhachSan>, List<Model.Models.Tang>>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

<link href="~/css/home.css" rel="stylesheet" />
<link href="~/css/morris.css" rel="stylesheet" />
<link href="~/css/c3.min.css" rel="stylesheet" />
<link href="~/css/dashboard1.css" rel="stylesheet" />
@await Html.PartialAsync("~/Areas/admin/Views/layout/logo.cshtml")
<link href="~/css/site.css" rel="stylesheet" />
<div class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        @await Html.PartialAsync("~/Areas/admin/Views/layout/navbar.cshtml")
        @await Html.PartialAsync("~/Areas/admin/Views/layout/header.cshtml")
        <br />
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <br />
                            <ul class="nav justify-content-end">
                                <li class="nav-item mr-2">
                                    <select id="idkhachsan" name="idkhachsan" class="form-control" onchange="loadPhongByIdKhachSan(this.value)">
                                        @if (Model.Item2 != null && Model.Item2.Count > 0)
                                        {
                                            <option value="0">Khách sạn</option>
                                            foreach (var khachsan in Model.Item2)
                                            {
                                                <option value="@khachsan.id">@khachsan.tenkhachsan</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="" selected>Không có khách sạn nào</option>
                                        }
                                    </select>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-danger me-2" id="deletephong">
                                        <i class="fas fa-trash"></i>
                                        Xoá
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-primary me-2" href="/admin/phong/danhsachphong/">
                                        <i class="fas fa-arrow-left"></i>
                                        Quay lại
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-success me-2" href="/NhanVien/XuatEclcel">
                                        <i class="fas fa-file-excel"></i>
                                        Xuất excel
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-primary me-2" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="fas fa-plus"></i>
                                        Thêm phòng
                                    </a>
                                </li>
                            </ul>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" class="iddeletephong" name="iddeletephong">
                                                </th>
                                                <th>ID</th>
                                                <th>Tên khách sạn</th>
                                                <th>Số tầng</th>
                                                <th>Số phòng</th>
                                                <th>Số người</th>
                                                <th>Loại phòng</th>
                                                <th>Tình trạng phòng</th>
                                                <th>Gía tiền từng giờ</th>
                                                <th>Gía tiền từng ngày</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Item1 != null && Model.Item1.Count > 0)
                                            {
                                                int count = 1;
                                                foreach (var modeldata in Model.Item1)
                                                {
                                                    <tr id="row-@count">
                                                        <td>
                                                            <input type="checkbox" class="iddeletephong" name="iddeletephong" data-phong-id="@modeldata.phong.id">
                                                        </td>
                                                        <td>@count</td>
                                                        <td>@modeldata.khachSan.tenkhachsan</td>
                                                        <td>@modeldata.tang.tentang</td>
                                                        <td>@modeldata.phong.sophong</td>
                                                        <td>@modeldata.phong.songuoi</td>
                                                        <td>@modeldata.phong.loaiphong</td>
                                                        <td>@modeldata.phong.tinhtrangphong</td>
                                                        <td>@string.Format("{0:N0} VNĐ", modeldata.phong.giatientheogio)</td>
                                                        <td>@string.Format("{0:N0} VNĐ", modeldata.phong.giatientheongay)</td>
                                                        <td>
                                                            @if (modeldata.phong.tinhtrangphong == "có khách")
                                                            {
                                                                <a href="/admin/thuephong/chitietthuephong?idphong=@modeldata.phong.id">
                                                                    <i class="fas fa-info-circle" style="color: red; font-size: 20px; margin-right: 5px;"></i>
                                                                    Thông tin thuê phòng
                                                                </a>
                                                                @* <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal@(modeldata.phong.id)">
                                                    <i class="fas fa-exchange-alt" style="color: blue; font-size: 20px; margin-right: 5px;"></i>
                                                    Chuyển phòng
                                                    </a> *@
                                                            }
                                                            else if (modeldata.phong.tinhtrangphong == "còn trống")
                                                            {
                                                                <a href="/admin/thuephong/datphongdon?idphong=@modeldata.phong.id">
                                                                    <i style="font-size: 20px; margin-right: 10px; color: #00FF00;" class="fas fa-bed"></i>
                                                                    Đặt phòng khách lẽ
                                                                </a>
                                                                <a href="/admin/thuephong/datphongdoan">
                                                                    <i style="font-size: 20px; margin-right: 10px; color: #00FF00;" class="fas fa-users"></i>
                                                                    Đặt phòng khách đoàn
                                                                </a>
                                                                <a href="/admin/phong/capnhattrangthaiphong?idphong=@modeldata.phong.id">
                                                                    <i style="font-size: 20px; margin-right: 14px;color: #8B4513;" class="fas fa-wrench"></i>
                                                                    Sửa phòng
                                                                </a>
                                                            }
                                                            else if (modeldata.phong.tinhtrangphong == "đã đặt")
                                                            {
                                                                <a href="/admin/nhanphong/nhanphongonline?idphong=@modeldata.phong.id">
                                                                    <i style="font-size: 20px; margin-right: 14px" class="fas fa-check-circle"></i>
                                                                    Check nhận phòng
                                                                </a>
                                                                <a href="/admin/huydatphong/huydatphong?idphong=@modeldata.phong.id">
                                                                    <i class="fas fa-info-circle" style="color: red; font-size: 20px; margin-right: 5px;"></i>
                                                                    Huỷ đặt phòng
                                                                </a>
                                                            }
                                                            else if (modeldata.phong.tinhtrangphong == "đang sửa chữa")
                                                            {
                                                                <a href="/admin/phong/capnhattrangthaiphong?idphong=@modeldata.phong.id">
                                                                    <i style="font-size: 20px; margin-right: 2px; color: blue;" class="fas fa-check"></i>
                                                                    Hoàn tất sửa chữa
                                                                </a>
                                                            }
                                                            else if (modeldata.phong.tinhtrangphong == "chưa dọn")
                                                            {
                                                                <a href="/admin/phong/capnhattrangthaiphong?idphong=@modeldata.phong.id">
                                                                    <i style="font-size: 20px; margin-right: 10px; color: blue;" class="fas fa-check"></i>
                                                                    Dọn xong
                                                                </a>
                                                                <a href="/admin/phong/capnhattrangthaiphong?idphong=@modeldata.phong.id">
                                                                    <i style="font-size: 20px; margin-right: 10px" class="fas fa-wrench"></i>
                                                                    Sửa phòng
                                                                </a>
                                                            }
                                                        </td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="5">Không có tầng nhân viên nào cả!.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.Item3 != null && Model.Item3.Count > 0)
{
    @foreach (var tang in Model.Item3)
    {
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
             data-bs-backdrop="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body text-left">
                        <div class="p-2" style="background-color:#f8f9fa;font-weight:500;">Thêm phòng</div>
                        <div class="border border-secondary-subtle" style="padding:10px 20px">
                            <form method="post" Action="/admin/Phong/ThemPhong">
                                <div class="row">
                                    <input type="hidden" class="form-control" value="@ViewData["idkhachsan"]" id="idkhachsan" name="idkhachsan" readonly>
                                    <div class="mb-3">
                                        <label for="songuoi" class="form-label">Số người :</label>
                                        <input type="text" class="form-control" id="songuoi" name="songuoi">
                                    </div>
                                    <div class="mb-3">
                                        <label for="sophong" class="form-label">Số phòng :</label>
                                        <input type="number" class="form-control" id="sophong" name="sophong">
                                    </div>
                                    <div class="mb-3">
                                        <label for="loaiphong" class="form-label">Loại phòng :</label>
                                        <input type="text" class="form-control" id="loaiphong" name="loaiphong">
                                    </div>
                                    <div class="mb-3">
                                        <label for="giatientheogio" class="form-label">Gía tiền theo giờ :</label>
                                        <input type="text" class="form-control" id="giatientheogio" name="giatientheogio">
                                    </div>
                                    <div class="mb-3">
                                        <label for="giatientheongay" class="form-label">Gía tiền theo ngày:</label>
                                        <input type="text" class="form-control" id="giatientheongay" name="giatientheongay">
                                    </div>
                                    <div class="mb-3">
                                        <label for="soluongmuonthem" class="form-label">Số lượng phòng muốn thêm:</label>
                                        <input type="text" class="form-control" id="soluongmuonthem" value="1" name="soluongmuonthem">
                                    </div>
                                    <div class="mb-3">
                                        <select id="idtang" name="idtang" class="form-control">
                                            @if (Model.Item3 != null && Model.Item3.Count > 0)
                                            {
                                                <option value="0">Chọn tầng</option>
                                                foreach (var tang1 in Model.Item3)
                                                {
                                                    <option value="@tang1.id">@tang1.tentang</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="" selected>Không có khách sạn nào</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" value="Thêm phòng" class="btn btn-primary custom-button" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{

    <p></p>

}
<style>
    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 *@<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="/static/custom.min.js"></script>
<script src="/static/jquery-3.2.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": false,
            "autoWidth": false,
            "responsive": true,
            "pageLength": 12,
            "lengthMenu": [5, 10, 25, 50, 100],
            "language": {
                "paginate": {
                    "next": '<i class="fas fa-chevron-right"></i>',
                    "previous": '<i class="fas fa-chevron-left"></i>'
                },
                "search": "Tìm kiếm:",
            }
        });
    });
</script>
<script>
    function loadPhongByIdKhachSan(idkhachsan) {
        // Xây dựng URL chuyển hướng
        var url = '/admin/phong/danhsachphong?idkhachsan=' + idkhachsan;
        // Chuyển hướng đến trang mới
        window.location.href = url;
    }
</script>

@if (TempData["themthanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Thêm khách sạn thành công!',
            icon: "success",
            showConfirmButton: false,
        });
    </script>
}

@if (TempData["xoathanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Xoá tầng thành công!',
            icon: "success",
            showConfirmButton: false,
        });
    </script>
}