@model List<QuanLyKhachSan_MVC.NET.Models.Modeldata>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link href="/static/morris.css" rel="stylesheet" />
<link href="/static/c3.min.css" rel="stylesheet" />
<link href="/static/dashboard1.css" rel="stylesheet" />
<link href="/static/style.css" rel="stylesheet" />
<div class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        @Html.Partial("~/Views/layout/navbar.cshtml")
        @Html.Partial("~/Views/layout/header.cshtml")
        <br />
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="card">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="text-bg-success p-2">Khách hàng</div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tên khách hàng</th>
                                                <th>Ngày đặt</th>
                                                <th>Ngày dự kiến trả</th>
                                                <th>Loại hình thuê</th>
                                                <th>Đổi loại hình thuê</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.datPhong.hovaten</td>
                                                    <td>@item.datPhong.ngaydat.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.datPhong.ngaydukientra.ToString("dd/MM/yyyy")</td>
                                                    <td>@item.datPhong.hinhthucthue</td>
                                                    <td>
                                                        <select id="hinhthucthue" name="hinhthucthue" class="form-control">
                                                            <option value="Theo ngày">Theo ngày</option>
                                                            <option value="Theo giờ">Theo giờ</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <hr />
                                    <div class="text-bg-success p-2">Sản phẩm được thuê</div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Số lượng thuê</th>
                                                <th>Thành tiền</th>
                                                <th>Tên Sản phẩm</th>
                                                <th>Ảnh</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var thueSanPham in Model[0].listthueSanPham)
                                            {
                                                <tr>
                                                    <td>@thueSanPham.id</td>
                                                    <td>@thueSanPham.soluong</td>
                                                    <td>@string.Format("{0:N0} VNĐ", @thueSanPham.thanhtien)</td>
                                                    <td>@thueSanPham.tensanpham</td>
                                                    <td><img src="@thueSanPham.image" width="50px" height="50px" alt=""></td>
                                                    <td>
                                                        <a href="/ThueSanPham/XoasoluongThueSanPham?id=@thueSanPham.id&amp;idphong=@Model[0].datPhong.idphong" class="btn btn-danger">
                                                            <i class="fas fa-minus"></i>
                                                        </a>
                                                        <a href="/ThueSanPham/UpdatesoluongThueSanPham?id=@thueSanPham.id&amp;idphong=@Model[0].datPhong.idphong"
                                                           class="btn btn-warning">
                                                            <i style="color: white;" class="fas fa-plus"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <hr />
                                    <div class="border border-dark-subtle" style="padding:10px 20px">
                                        <form method="post" action="/TraPhong/TraPhongandLSThanhToan">
                                            <input type="hidden" name="idphong" id="idphong" value="@Model[0].phong.id" class="form-control" />
                                            <h4>Tổng tiền thuê sản phẩm: @string.Format("{0:N0} VNĐ", @Model[0].tongtienhueSanPham)</h4>
                                            <h4>Tiền phòng: @string.Format("{0:N0} VNĐ", @Model[0].phong.giatien)</h4>
                                            <h4>Tiền khách hàng đặt cọc: @string.Format("{0:N0} VNĐ", @Model[0].datPhong.tiendatcoc)</h4>
                                            @if (Model != null && Model.Count > 0 && Model[0].giamGia != null)
                                            {
                                                <h4>Giảm giá: @Model[0].giamGia.phantramgiamgia %</h4>
                                                <h4>Tổng tiền cần thanh toán: @string.Format("{0:N0} VNĐ", ((@Model[0].phong.giatien + @Model[0].tongtienhueSanPham -@Model[0].datPhong.tiendatcoc) * @Model[0].giamGia.phantramgiamgia)/100)</h4>
                                            }
                                            else
                                            {
                                                <h4>Giảm giá: 0 %</h4>
                                                <h4>Tổng tiền cần thanh toán: @string.Format("{0:N0} VNĐ", @Model[0].phong.giatien + @Model[0].tongtienhueSanPham -@Model[0].datPhong.tiendatcoc)</h4>
                                            }
                                            <input type="submit" value="Thanh toán" class="btn btn-primary custom-button" />
                                        </form>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="text-bg-success p-2">Sản phẩm</div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Tên sản phẩm</th>
                                                <th>Số lượng còn</th>
                                                <th>Gía bán</th>
                                                <th>Ảnh</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var sanpham in Model[0].listsanPham)
                                            {
                                                <tr>
                                                    <td>@sanpham.tensanpham</td>
                                                    <td>@sanpham.soluongcon</td>
                                                    <td>@string.Format("{0:N0} VNĐ", @sanpham.giaban)</td>
                                                    <td><img src="@sanpham.image" width="50px" height="50px" alt=""></td>
                                                    <td>
                                                        <a href="/ThueSanPham/ThueSanPham?id=@sanpham.id&amp;iddatphong=@Model[0].datPhong.id&amp;idphong=@Model[0].datPhong.idphong" class="btn btn-success" title="Thuê sản phẩm">
                                                            <i class="fas fa-plus"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="/static/custom.min.js"></script>
<script src="/static/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>