@model Tuple<List<Model.Models.Modeldata>, List<Model.Models.LoaiDichVu>>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

<link href="~/css/home.css" rel="stylesheet" />
<link href="~/css/morris.css" rel="stylesheet" />
<link href="~/css/c3.min.css" rel="stylesheet" />
<link href="~/css/dashboard1.css" rel="stylesheet" />
@await Html.PartialAsync("~/Areas/admin/Views/layout/logo.cshtml")
<link href="~/css/site.css" rel="stylesheet" />
<div class="skin-default-dark fixed-layout">
    <div id="main-wrapper">
        @await Html.PartialAsync("~/Areas/admin/Views/layout/navbar.cshtml")
        @await Html.PartialAsync("~/Areas/admin/Views/layout/header.cshtml")
        <br />
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <br />
                            <ul class="nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link btn btn-danger me-2" id="deletesanpham">
                                        <i class="fas fa-trash"></i>
                                        Xoá
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/admin/sanpham/sanphamdaxoa" class="nav-link btn btn-secondary me-2">
                                        <i class="fas fa-flag"></i>
                                        Sản phẩm đã được xoá
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn btn-success me-2" href="/NhanVien/XuatEclcel">
                                        <i class="fas fa-file-excel"></i>
                                        Xuất excel
                                    </a>
                                </li>
                                <br />
                                <li class="nav-item">
                                    <a class="nav-link btn btn-primary me-2" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <i class="fas fa-plus"></i>
                                        Thêm dịch vụ
                                    </a>
                                </li>
                            </ul>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <div class="alert alert-login " style="display:none;">
                                    </div>
                                    <div class="alert alert-success" style="display: none;">
                                        Dịch vụ đã được xoá thành công.
                                    </div>
                                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" id="checkAll" class="iddeletesanpham" name="iddeletesanpham">
                                                </th>
                                                <th>ID</th>
                                                <th>Khách sạn</th>
                                                <th>Tên dịch vụ</th>
                                                <th>Gía</th>
                                                <th>Loại dịch vụ</th>
                                                <th>Số lượng còn</th>
                                                <th>Ảnh</th>
                                                <th>Trạng thái</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.Item1 != null && Model.Item1.Count > 0)
                                            {
                                                int count = 1;
                                                foreach (var modeldata in Model.Item1)
                                                {
                                                    var sanPham = modeldata.PagedTSanPham.First();
                                                    <tr id="row-@count">
                                                        <td>
                                                            <input type="checkbox" class="idsanpham" name="idsanpham" data-sanpham-id="@sanPham.id">
                                                        </td>
                                                        <td>@count</td>
                                                        <td>@modeldata.khachSan.tenkhachsan</td>
                                                        <td>@sanPham.tensanpham</td>
                                                        <td>@string.Format("{0:N0} VNĐ", @sanPham.giaban)</td>
                                                        <td>@modeldata.loaiDichVu.tenloaidichvu</td>
                                                        <td>@sanPham.soluongcon</td>
                                                        <td>
                                                            <img src="@sanPham.image" width="36px" height="36px" alt="">
                                                        </td>
                                                        <td>@sanPham.trangthai</td>
                                                        <td>
                                                            <a href="/@sanPham.id" class="btn btn-danger" title="Xoá">
                                                                <i class="fas fa-times-circle"></i>
                                                            </a>
                                                            <a href="/@sanPham.id" class="btn btn-warning" title="Cập nhât">
                                                                <i class="fas fa-check-circle"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    count++;
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="10">Không có dịch vụ nào cả !.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-backdrop="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body text-left">
                <div class="p-2" style="background-color:#f8f9fa;font-weight:500;">Thêm dịch vụ</div>
                <div class="border border-secondary-subtle" style="padding:10px 20px">
                    <form method="post" enctype="multipart/form-data" Action="/admin/SanPham/ThemSanPham">
                        <div class="mb-3">
                            <label for="tensanpham" class="form-label">Tên dịch vụ:</label>
                            <input type="text" name="tensanpham" id="tensanpham" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="mota" class="form-label">Mô tả:</label>
                            <input type="text" name="mota" id="mota" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="giaban" class="form-label">Gía:</label>
                            <input type="number" name="giaban" id="giaban" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="soluongcon" class="form-label">Số lượng:</label>
                            <input type="number" name="soluongcon" id="soluongcon" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Ảnh:</label>
                            <input type="file" name="image" id="image" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label for="idloaidichvu" class="form-label">Loại dịch vụ:</label>
                            <select id="idloaidichvu" name="idloaidichvu" class="form-control">
                                @if (Model.Item2 != null && Model.Item2.Count > 0)
                                {
                                    foreach (var loaiDichVu in Model.Item2)
                                    {
                                        <option value="@loaiDichVu.id">@loaiDichVu.tenloaidichvu</option>
                                    }
                                }
                                else
                                {
                                    <option value="" selected>Không có dữ liệu</option>
                                }
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary custom-btn-secondary" data-dismiss="modal">
                                Huỷ
                            </button>
                            <button type="submit" class="btn btn-primary custom-button">
                                <i class="fas fa-save"></i> Lưu
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .alert-success {
        background-color: #d4edda; /* Màu nền xanh lá cây nhạt */
        border-color: #c3e6cb; /* Màu viền */
        color: #155724; /* Màu chữ */
        padding: 10px;
        display: none;
        margin-top: 10px;
    }

    .alert-login {
        background-color: #f8d7da; /* Màu nền đỏ nhạt */
        border-color: #f5c6cb; /* Màu viền */
        color: #721c24; /* Màu chữ */
        padding: 10px;
        display: none;
        margin-top: 10px;
    }

    .large-cell {
        font-size: 12px; /* Kích thước chữ lớn hơn */
        line-height: 1.4; /* Độ cao dòng */
        max-width: 600px; /* Độ rộng tối đa của ô nội dung bình luận */
        overflow: hidden; /* Tránh tràn nội dung */
        text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi nội dung quá dài */
        white-space: nowrap; /* Ngăn không cho các từ xuống dòng */
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="/static/custom.min.js"></script>
<script src="/static/jquery-3.2.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": false,
            "info": false,
            "autoWidth": false,
            "responsive": true,
            "pageLength": 10,
            "lengthMenu": [5, 10, 25, 50, 100],
            "language": {
                "paginate": {
                    "next": '<i class="fas fa-chevron-right"></i>',
                    "previous": '<i class="fas fa-chevron-left"></i>'
                },
                "search": "Tìm kiếm:",
            }
        });
    });
</script>

@if (TempData["themthanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Thêm nhân viên thành công!',
            icon: "success",
            showConfirmButton: false,
        });
    </script>
}

@if (TempData["xoathanhcong"] != null)
{
    <script>
        Swal.fire({
            position: "top-right",
            title: 'Xoá tầng thành công!',
            icon: "success",
            showConfirmButton: false,
        });
    </script>
}

<script>
    $(document).ready(function () {
        $('#deletesanpham').on('click', function (e) {
            e.preventDefault();

            var selectedIds = [];
            $('input.idsanpham:checked').each(function () {
                selectedIds.push($(this).data('sanpham-id'));
            });

            $.ajax({
                url: '/admin/sanpham/deletesanpham',
                type: 'POST',
                data: JSON.stringify(selectedIds),
                contentType: 'application/json',
                success: function (result) {
                    if (result.error) {
                        $('.alert-login').text(result.message).show();
                        setTimeout(function () {
                            $('.alert-login').fadeOut('fast');
                        }, 5000);
                    } else {
                        location.reload();
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error deleting comment:', error);
                    alert('Đã xảy ra lỗi khi xoá bình luận.');
                }
            });
        });

        if ('@TempData["xoasanpham"]' === "success") {
            $('.alert-success').show();
            setTimeout(function () {
                $('.alert-success').fadeOut('fast');
            }, 5000);
        }
    });
    document.addEventListener("DOMContentLoaded", function () {
        // Lắng nghe sự kiện khi click vào checkbox trong thẻ <th>
        document.getElementById("checkAll").addEventListener("change", function () {
            // Lấy ra danh sách tất cả các checkbox trong các ô <td>
            var checkboxes = document.querySelectorAll("#example tbody .idsanpham");

            // Duyệt qua từng checkbox và thiết lập checked dựa trên trạng thái của checkbox trong <th>
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = document.getElementById("checkAll").checked;
            });
        });
    });
</script>